@model Registration
@{ ViewData["Title"] = "View Registrations"; }
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>




<div class="container">
    <h1>Get Customer</h1>
    <form action="">

        <select class="form-select" aria-label="Default select example">
            <option selected>Select a Customer</option>
            <option value="1">John</option>
            <option value="2">Jane</option>
            <option value="3">Mark</option>
        </select>
        <button class="btn btn-primary">Select</button>
    </form>
</div>