@model IncidentsViewModel
@{ ViewData["Title"] = "Add a new incident"; 

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-action="Edit" asp-controller="Incident" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="currentIncident.CustomerId">Customer</label>
        <select class="form-control" asp-for="currentIncident.CustomerId" asp-items="Model.customers">
            <option value="">Select a customer...</option>
        </select>
        <hr />
    </div>
    <div class="form-group">
        <label asp-for="currentIncident.ProductId">Product</label>
        <select class="form-control" asp-for="currentIncident.ProductId" asp-items="Model.products">
            <option value="">Select a product...</option>
        </select>
        <hr />
    </div>
    <div class="form-group">
        <label asp-for="currentIncident.TechnicianId">Technician</label>
        <label>Technicians</label>
        <select class="form-control" asp-for="currentIncident.TechnicianId" asp-items="Model.technicians">
            <option value="">Select a tech...</option>
        </select>
        <hr />
    </div>

    <div class="form-group">
        <label asp-for="currentIncident.Title">Title</label>
        <input asp-for="currentIncident.Title" class="form-control">
        <hr />
    </div>

    <div class="form-group">
        <label asp-for="currentIncident.Description">Description</label>
        <input asp-for="currentIncident.Description" class="form-control">
        <hr />
    </div>

    <div class="form-group">
        <label asp-for="currentIncident.DateOpened">Date Opened</label>
        <input asp-for="currentIncident.DateOpened" type="datetime-local" id="date">
        <hr />
    </div>

    <div class="form-group">
        <label asp-for="currentIncident.DateClosed">Date Closed</label>
        <input asp-for="currentIncident.DateClosed" type="datetime-local" id="date">
        <hr />
    </div>
    <input type="hidden" asp-for="currentIncident.IncidentId" />

    <button class=" btn btn-primary" type="submit">Save</button>
    <button type="submit" class="btn btn-warning" asp-controller="Incident" asp-action="List">Cancel</button>
</form>