@{ ViewData["Title"] = "About Page"; }

<div class="row">
    <div class="col">
        <div class="p-3 mb-2 bg-secondary text-white">
            <h2>About SportsPro</h2>
            <p>SportsPro Technical Support in association with Coding Monkeys constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="p-3 mb-2 bg-secondary text-white">
            <h2>Coding Monkeys</h2>
            <p>Coding Monkeys® is composed of 6 students at George Brown College:</p>
            <ul>
                <li>Karina Gorkova</li>
                <li>Stefan Maric</li>
                <li>Zachary Asselstine</li>
                <li>Adam Vandyke</li>
                <li>Trisha Conde</li>
                <li>Prendi Bobo</li>
            </ul>
        </div>
    </div>
</div>


