@{ ViewData["Title"] = "Home Page"; }

<h1>SportsPro Tech Support</h1>
<pc class="mb-2">Sports Management Software for Sports Enthusiast</pc>
<p></p>
<p></p>

<h2>Admin</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <p><a asp-controller="Product">Manage Products</a></p>
            </th>
        </tr>
        <tr>
            <th>
                <p><a asp-controller="Technician">Manage Technicians</a></p>
            </th>
        </tr>
        <tr>
            <th>
                <p><a asp-controller="Customer">Manage Customers</a></p>
            </th>
        </tr>
        <tr>
            <th>
                <p><a asp-controller="Incident">Manage Incidents</a></p>
            </th>
        </tr>
        <!-- <tr>
         <th>
             <p><a asp-controller="Registration">Manage Registrations</a></p>
         </th>
     </tr>-->

    </thead>

</table>

<h2>Technician</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <p><a asp-controller="Incident">Update Incidents</a></p>
            </th>
        </tr>
    </thead>
</table>